<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:spaceless>
    <f:format.raw>
        <f:format.json value="{
        type: resultrow.type,
        number: '{f:if(condition: conf.resultsNumeration,then: \'{resultrow.number}.\')}',
        title: '{resultrow.title -> f:format.striptags()}',
        url: '{f:uri.typolink(parameter:\'{resultrow.url}\',absolute:1)}',
        date_timestamp: resultrow.date_timestamp,
        tags: '{f:if(condition: conf.showTags,then: resultrow.tags)}',
        teaser: '{resultrow.teaser -> f:format.striptags()}',
        teaser_icon: '{f:render(section:\'typeIconOrPreviewImage\', arguments:\'{icon: resultrow.typeIconPath, filePreviewId: resultrow.filePreviewId, treatIdAsReference:resultrow.treatIdAsReference, iconConf: conf.showTypeIcon}\') -> headless:format.json.decode()}'
    }"/>
    </f:format.raw>
</f:spaceless>

<f:section name="typeIconOrPreviewImage">
    <f:if condition="{iconConf} && !{filePreviewId}">
        <f:then>
            <f:spaceless>
                <f:format.raw>
                    <f:format.json value="{
                        url: '{f:uri.image(src: icon, maxWidth: 16, maxHeight: 16, absolute: 1)}'
                    }"/>
                </f:format.raw>
            </f:spaceless>
        </f:then>
        <f:else>
            <f:if condition="{filePreviewId}">
                <f:spaceless>
                    <f:format.raw>
                        <f:format.json value="{
                        url: '{f:uri.image(src: filePreviewId, treatIdAsReference: treatIdAsReference, maxWidth: 200, absolute: 1)}'
                    }"/>
                    </f:format.raw>
                </f:spaceless>
            </f:if>
        </f:else>
    </f:if>
</f:section>

</html>
