<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:spaceless>
{
    "queryTime": {queryTime},
    "numberofresults": {numberofresults},
    "wordsTooShort": {wordsTooShort},
    <f:if condition="{resultListAdditionalRawContent}">
        "resultListAdditionalRawContent": "{resultListAdditionalRawContent}",
    </f:if>
    "page_browser": <f:render partial="PageBrowser" arguments="{conf: conf, numberofresults:numberofresults, pagebrowser:pagebrowser}" />,
    "results": [<f:render partial="ResultRows" arguments="{
    conf: conf,
    numberofresults: numberofresults,
    resultrows: resultrows,
    sortingLinks: sortingLinks,
    pagebrowser:pagebrowser,
    queryTime:queryTime,
    queryTimeText:queryTimeText
    }" />]
}
</f:spaceless>
</html>
